.Projects{
    display: flex;
    margin: auto;
    width:100%;
    height:100vh;
    flex-direction: column;
    background-color:#0B0C10;
}
.pro{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.25em;
}
.pro h1{
    font-size:2em ;
}
.pro p{
    font-size:0.78em ;
}



.each-fade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.each-fade .image-container {
    height: 60%;
    overflow: hidden;
}

.each-fade .image-container img {
    width: 100%;
}
.each-fade .projects .pro button{
    width: 200%;
    margin-left: -46%;
    height: 8vh;
}
.row{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.each-fade .projects{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 3vw;
    background: #45A29E; 
}
.each-fade .projects p{
  margin: 15;
}


.projectsformat {
    width: 80%;
    margin: auto; 
}
@media screen and (min-width: 480px) {
    .each-fade .image-container img {
        width: 80%;
        margin-left: 10%;
    }
}

@media screen and (min-width: 600px) {
    .each-fade .image-container img {
        width: 60%;
        margin-left: 20%;
    }
}


@media screen and (min-width: 800px) {
    .Projects{
        padding-top: 1.75vw;
    }
    .each-fade {
        display: flex;
        flex-direction: row;

        width: 100%;
    }
    
    .each-fade .image-container {
        width: 60%;
        height: auto;
        overflow: hidden;
        display: flex;
    }
    
    .each-fade .image-container img {
        width: 100%;
    }
    
    .each-fade .projects{
        width: 40%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        margin: 3vw;
        background: #45A29E; 
    }
    .each-fade .projects p{
        margin: 10px;
        margin-left: 30px;
    }
    
    .projectsformat {
        width: 100%;
        margin: auto; 
    }
    
}