.About{
    display: flex;
    margin: auto;
    width:100%;
    height:100vh;
    flex-direction: column;
    background-color:#0B0C10;

}
.about{
   background-color:#45A29E;
   margin-left: 3vw;
   margin-right: 3vw;
   margin-top: 1vw;
   margin-bottom: 11vw;
   height:auto;
   overflow: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.about p,h1{
    margin: 0;
    font-size: .73em;
}
.hobbies{
    margin-left: 3vw;
    margin-right: 3vw;
    height:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#1FA29E;
    height:auto;
    overflow: auto;
}
.hobbies p,h1{
    margin: 0;
    font-size:1em;
}
@media screen and (min-width: 480px) {
    .About{
        padding-top: 3.2vw;
    }
    .about{
        margin-bottom: 1vw;
    }

    .about p,h1{
        margin: 20px;
        font-size:.80em;
    }
    .hobbies p,h1{
        margin: 20px;
        font-size:1.1em;
    }
    .about{
        height: 45%;
    }
    .hobbies{
        height:40%;
    }
}
@media screen and (min-width: 640px) {
    .about p,h1{
        margin: 20px;
        font-size:.95em;
    }
    .hobbies p,h1{
        margin: 20px;
        font-size:1.3em;
    }
}
@media screen and (min-width: 730px) {
    .about p,h1{
        margin: 20px;
        font-size:1.05em;
    }
  
}
@media screen and (min-width: 880px) {
    .about p,h1{
        margin: 20px;
        font-size:1.12em;
    }
    .hobbies p,h1{
        margin: 20px;
        font-size:1.6em;
    }
}
@media screen and (min-width: 1050px) {
    .about p,h1{
        margin: 20px;
        font-size:1.25em;
    }
    .hobbies p,h1{
        margin: 20px;
        font-size:1.7em;
    }
}
@media screen and (min-width: 1400px) {
    .about p,h1{
        margin: 20px;
        font-size:1.65em;
    }
    .hobbies p,h1{
        margin: 20px;
        font-size:2.2em;
    }
}